In [63]:
import pandas as pd
# need state 1

df_sales = pd.read_csv('Total Sales - UTSC Lecture.csv')
df_sales.head()
# df_sales["Fiscal Month"] = df_sales['Fiscal Week'].map(week_to_month)
dict1 = {"Need State 1": "Total Sales"}
df_needstate1=df_sales[["Fiscal Year", "Fiscal Week", "Need State 1"]]
# out[out["Fiscal Year"] == 2021]
df_needstate1=df_needstate1.rename(columns=dict1)
df_needstate1["Need State"] = "Need State 1"

df_needstate2=df_sales[["Fiscal Year", "Fiscal Week", "Need State 2"]]
dict2 = {"Need State 2": "Total Sales"}
df_needstate2=df_needstate2.rename(columns=dict2)
df_needstate2["Need State"] = "Need State 2"

df_needstate3=df_sales[["Fiscal Year", "Fiscal Week", "Need State 3"]]
dict3 = {"Need State 3": "Total Sales"}
df_needstate3=df_needstate3.rename(columns=dict3)
df_needstate3["Need State"] = "Need State 3"

df_needstate4=df_sales[["Fiscal Year", "Fiscal Week", "Need State 4"]]
dict4 = {"Need State 4": "Total Sales"}
df_needstate4=df_needstate4.rename(columns=dict4)
df_needstate4["Need State"] = "Need State 4"

df_needstate5=df_sales[["Fiscal Year", "Fiscal Week", "Need State 5"]]
dict5 = {"Need State 5": "Total Sales"}
df_needstate5=df_needstate5.rename(columns=dict5)
df_needstate5["Need State"] = "Need State 5"

df_final = pd.concat([df_needstate1, df_needstate2, df_needstate3, df_needstate4, df_needstate5])

df_final["Fiscal Year"].dtype

#print(df_final)

dtype('int64')

In [67]:
data = pd.read_csv('Factory POS.csv')
data.columns = ['Need State', 'Fiscal Week', '2021', '2022', '2023']
data = data.iloc[1:]
data = data[data['Need State'] != 'Need State 6'].reset_index(drop=True)
melted_data = pd.melt(data, id_vars=[col for col in data.columns if col not in ['2021', '2022', '2023']], 
                      var_name='Fiscal Year', value_name='Factory POS')
melted_data['Fiscal Year'] = melted_data['Fiscal Year'].astype('int64')
melted_data['Fiscal Week'] = melted_data['Fiscal Week'].astype('int64')

print(melted_data)

       Need State  Fiscal Week  Fiscal Year  Factory POS
0    Need State 1            1         2021    317435.25
1    Need State 1            2         2021    309234.75
2    Need State 1            3         2021    331149.00
3    Need State 1            4         2021    291885.00
4    Need State 1            5         2021    308238.00
..            ...          ...          ...          ...
775  Need State 5           48         2023         0.00
776  Need State 5           49         2023         0.00
777  Need State 5           50         2023         0.00
778  Need State 5           51         2023         0.00
779  Need State 5           52         2023         0.00

[780 rows x 4 columns]

In [72]:
customer_dc_inventory = pd.read_csv('Customer DC Inventory.csv')

# Melting the DataFrame
customer_dc_inventory = pd.melt(customer_dc_inventory, id_vars=['Fiscal Year  /  Fiscal Week', 'Unnamed: 1'], var_name='YearWeek', value_name='Amount')

# Correctly extracting Year and Week
customer_dc_inventory['Fiscal Year'] = customer_dc_inventory['YearWeek'].apply(lambda x: x.split('.')[0])
customer_dc_inventory['Fiscal Week'] = customer_dc_inventory['YearWeek'].apply(lambda x: x.split('.')[1] if '.' in x else 0)

# Separating DC Amount and Store Amount on Hand data
dc_amount = customer_dc_inventory[customer_dc_inventory['Unnamed: 1'] == 'Dc Amount'].copy()
store_amount = customer_dc_inventory[customer_dc_inventory['Unnamed: 1'] == 'Store Amt On Hand'].copy()

# Renaming and dropping unnecessary columns
dc_amount.rename(columns={'Amount': 'DC Amount', 'Fiscal Year  /  Fiscal Week': 'Need State'}, inplace=True)
dc_amount.drop(['Unnamed: 1', 'YearWeek'], axis=1, inplace=True)

store_amount.rename(columns={'Amount': 'Store Amount on Hand', 'Fiscal Year  /  Fiscal Week': 'Need State'}, inplace=True)
store_amount.drop(['Unnamed: 1', 'YearWeek'], axis=1, inplace=True)

# Merging DC and Store Amount data
final_data = pd.merge(dc_amount, store_amount, on=['Need State', 'Fiscal Year', 'Fiscal Week'])
#final_data["Week"].astype(int)
final_data['Fiscal Week'].astype(str).astype(int)

final_data["Fiscal Week"] = final_data['Fiscal Week'].astype(str).astype(int) + 1
final_data['Fiscal Year'] = final_data['Fiscal Year'].astype('int64')
final_data['Fiscal Week'] = final_data['Fiscal Week'].astype('int64')

print(final_data)

       Need State   DC Amount  Fiscal Year  Fiscal Week  Store Amount on Hand
0    Need State 1  1445929.50         2021            1            3667244.25
1    Need State 2  2405549.25         2021            1            2784957.75
2    Need State 3  1618319.25         2021            1            3838764.00
3    Need State 4  1271980.50         2021            1            1893348.00
4    Need State 5   601577.25         2021            1            1055337.75
..            ...         ...          ...          ...                   ...
931  Need State 2        0.00         2023           52                  0.00
932  Need State 3        0.00         2023           52                  0.00
933  Need State 4        0.00         2023           52                  0.00
934  Need State 5        0.00         2023           52                  0.00
935  Need State 6        0.00         2023           52                  0.00

[936 rows x 5 columns]

In [78]:
dfEcom = pd.read_csv("Total Ecomm POS (Factory $).csv", header=1, index_col=1)
dfEcom.head()
dfEcom_reset = dfEcom.reset_index()

# Step 2: Melt the DataFrame
# 'Fiscal Week' is the var_name for the week columns
# 'Sales' is the value_name for the values under week columns
dfEcom_clean = pd.melt(dfEcom_reset, 
                     id_vars=['Fiscal Year', 'Need State'], 
                     var_name='Fiscal Week', 
                     value_name='Sales')

# Convert 'Fiscal Week' to numeric type for proper sorting, if necessary
dfEcom_clean['Fiscal Week'] = pd.to_numeric(dfEcom_clean['Fiscal Week'])

# Sort the DataFrame based on 'Fiscal Year', 'Need State', and 'Fiscal Week' for readability
dfEcom_clean.sort_values(by=['Fiscal Year', 'Need State', 'Fiscal Week'], inplace=True)

dfEcom_clean.reset_index(drop=True, inplace=True)

# Removing Need State 6 per judge's request
dfEcom_clean = dfEcom_clean[dfEcom_clean['Need State'] != 'Need State 6']
dfEcom_clean.head()

   Fiscal Year    Need State  Fiscal Week    Sales
0         2021  Need State 1            1  3684.75
1         2021  Need State 1            2  3426.75
2         2021  Need State 1            3  4221.75
3         2021  Need State 1            4  2959.50
4         2021  Need State 1            5  3402.75

In [80]:
factory_pos_and_total_sales = pd.merge(melted_data, df_final, on=["Fiscal Year",'Fiscal Week', 'Need State'], how='inner')
factory_pos_totsales_dc_inventory = pd.merge(factory_pos_and_total_sales, final_data, on=['Need State', 'Fiscal Year', 'Fiscal Week'], how='inner')
factory_pos_totsales_dc_inventory
all_dataframes_merged = pd.merge(factory_pos_totsales_dc_inventory, dfEcom_clean, on=["Fiscal Year",'Fiscal Week', 'Need State'], how='inner')
all_dataframes_merged.tail(10)

,Need State,Fiscal Week,Fiscal Year,Factory POS,Total Sales,DC Amount,Store Amount on Hand,Sales
735,Need State 5,36,2023,131212.50,491935.50,1517832.75,1905132.00,2147.25
736,Need State 5,37,2023,54834.75,586676.25,1501643.25,1794207.00,1051.50
737,Need State 5,38,2023,49947.75,492169.50,1476577.50,1657944.00,813.75
738,Need State 5,39,2023,43021.50,642145.50,1426885.50,1442409.75,663.75
739,Need State 5,40,2023,57792.75,628323.75,1386183.75,1373699.25,698.25
740,Need State 5,41,2023,36111.00,600489.00,1352883.75,1329480.75,928.50
741,Need State 5,42,2023,0.00,1061086.50,0.00,0.00,0.00
742,Need State 5,43,2023,0.00,73047.00,0.00,0.00,0.00
743,Need State 5,46,2023,0.00,0.00,0.00,0.00,0.00
744,Need State 5,50,2023,0.00,0.00,0.00,0.00,0.00